body {
    margin: 0;
    padding: 0;
    background-color: #E7A3CF;
}

.hero {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    list-style: none;
    height: 80px;
    text-align: center;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-right: 0 10px;
}

.menu a {
    text-decoration: none;
    padding: 8px 12px;
    color: whitesmoke;
}